#/node_modules
/.vscode
.env
config.json
/commands/stats.js
/commands/status.js
/commands/old_comms.txt
/commands/update_status.js
/commands/retrieveLogs.js
index.js
package-lock.json
/node_modules
/commands/savejudgestats.js